# -readability-magic-numbers
# -cppcoreguidelines-avoid-magic-numbers
#    especially in unittests we believe that magic number
#    are preferrable over many badly named integers
#
# -readability-function-size
#    is an alias for google-readability-function-size and we
#    don't want to specify parameters for both
#
# -cert-dcl21-cpp
#    seems unwise for modern C++, was withdrawn
#
# -modernize-use-trailing-return-type
#    still not widely used and not understood by many (seems a catch-22)

Checks: >
  -*,
  bugprone-*,
  cert-*,
  -cert-dcl21-cpp,
  clang-analyzer-core-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*
  hicpp-signed-bitwise,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-function-size,
  -readability-magic-numbers,
  fuchsia-multiple-inheritance

FormatStyle: 'file'
CheckOptions:    
  - key:   google-readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key:   google-readability-function-size.BranchThreshold
    value: '50'
  - key:   google-readability-function-size.LineThreshold
    value: '200'
  - key:   google-readability-function-size.StatementThreshold
    value: '500'
  - key:   readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key:   readability-function-size.LineThreshold
    value: '200'
  - key:   readability-function-size.StatementThreshold
    value: '500'
  - key:   readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key:   readability-identifier-naming.ClassCase
    value: 'lower_case'
  - key:   readability-identifier-naming.StructCase
    value: 'lower_case'
  - key:   readability-identifier-naming.TemplateParameterCase
    value: 'CamelCase'
  - key:   readability-identifier-naming.FunctionCase
    value: 'lower_case'
  - key:   readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key:   readability-identifier-naming.ClassMemberCase
    value:  'lower_case'
  - key:   readability-identifier-naming.ClassMemberSuffix
    value:  ''
  - key:   readability-identifier-naming.PrivateMemberSuffix
    value:  '_'
  - key:   readability-identifier-naming.ProtectedMemberSuffix
    value:  '_'
  # readability-identifier-naming.EnumConstantCase
  # readability-identifier-naming.ConstexprVariableCase
  # readability-identifier-naming.GlobalConstantCase
  # readability-identifier-naming.MemberConstantCase
  # readability-identifier-naming.StaticConstantCase